.popup {
  position: fixed;
  /* top: 10px; */
  /* left: 30%; */
  transform: translateX(-50%);
  color: #1df59a;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 480px;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  background: linear-gradient(
    180deg,
    #464646,
    #0f0f0f
  ); /* background-image: url("../../assets/min-bg.svg"); */
  border-radius: 4px;
  justify-content: center;
}
.popup-message {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
.loss-message {
  color: #e87579;
  font-size: 12px;
  font-weight: 700;
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}